<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ricky y Morty </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ricky y Morty</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
    src="https://m.media-amazon.com/images/S/pv-target-images/87bd8d9edc4fafda8377cdc6da823ca55cc8afe36dc855d4a4b311716c69b521.jpg"
    alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>

  <!--<app-explore-container name="Home page"></app-explore-container>-->
</ion-content>
