.custom-modal {
    --width: 50%; /* Cambia el ancho del modal */
    --height: 60%; /* Cambia la altura del modal */
    --border-radius: 15px; /* Esquinas redondeadas */
  }

p{
    padding: 30px;
}

