<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Episodios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Episodios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let episode of episodios">
    <ion-grid>
      <ion-row>
        <!-- 📌 Columna Izquierda: Imagen, título y descripción -->
        <ion-col size="12" size-md="6" class="episode-info">
          <img *ngIf="episode.image_url" [src]="episode.image_url" [alt]="episode.name" class="episode-image" />
          <ion-card-header>
            <ion-card-title>{{ episode.name }}</ion-card-title>
            <ion-card-subtitle>{{ episode.air_date }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Descripción:</strong> {{ episode.overview }}</p>
          </ion-card-content>
        </ion-col>

        <!-- 📌 Columna Derecha: Personajes (Responsive)
        <ion-col size="12" size-md="6">
          <div class="characters-container">
            <div *ngFor="let personaje of episode.personajes_episodio" class="character-card">
              <ion-avatar>
                <img [src]="personaje.image" [alt]="personaje.name" />
              </ion-avatar>
              <ion-label>{{ personaje.name }}</ion-label>
            </div>
          </div>
        </ion-col>
         -->

        <ion-col size="12" size-md="6">
          <app-personaje-list 
            [personajes]="episode.personajes_episodio"
            [titulo]="'Personajes del Episodio'"
            [subtitulo]="episode.name">
          </app-personaje-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
